#root {
  display: grid;
  grid-template-rows: 4em 1fr;
}

.header {
  background-color: rgb(38, 43, 46);
  color: #fff;
  padding: 0.5em 2em;
}

.app-title {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

.canvas {
  background-color: rgb(254, 251, 235);
  background-image: radial-gradient(
    circle at 2px 2px,
    #f7e9b6 1px,
    transparent 0
  );
  background-size: 20px 20px;
  padding: 1em;
}

.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 2em 2em 0;
  z-index: 1;
}
.sticky > * {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.022),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.03),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.039),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.045),
    100px 100px 80px rgba(0, 0, 0, 0.06);
}
